# force fresh run
name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VM_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 20.203.139.196 >> ~/.ssh/known_hosts

      - name: Deploy to VM
        run: |
          ssh azureuser@20.203.139.196 << 'EOF'
            cd cloud-sql-app
            git pull origin main
            docker build -t flask-app .
            docker stop flask-app || true
            docker rm flask-app || true
            docker run -d --restart unless-stopped -p 5000:5000 --name flask-app flask-app
          EOF
